# shellcheck disable=SC2148
watch_file pixi.lock
if has nvidia-smi; then
  environment=cuda12
else
  environment=cpu
fi
eval "$(pixi shell-hook --environment "$environment")"

export JAX_DEBUG_NANS=True
export JAX_ENABLE_X64=True
export JAX_PLATFORMS=cpu
export TI_ARCH=x64
export TI_DEBUG=1
export TI_DEFAULT_FP=64

export LD_PRELOAD=/usr/lib/libstdc++.so.6
