[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.poetry]
authors = ["liblaf <i@liblaf.me>"]
description = ""
license = "MIT"
name = "mesh-kit"
readme = "README.md"
version = "0.0.1"

[tool.poetry.dependencies]
loguru = "^0.7.2"
matplotlib = "^3.8.2"
numpy = "^1.26.4"
pydantic = "^2.6.1"
pymeshfix = "^0.16.2"
python = ">=3.11,<3.13"
pyvista = { extras = ["all"], version = "^0.43.3" }
pyyaml = "^6.0.1"
scipy = "^1.12.0"
tetgen = "^0.6.3"
tqdm = "^4.66.1"
trimesh = { extras = ["all"], version = "^4.1.3" }
typer = "^0.9.0"

[tool.poetry.group.dev.dependencies]
icecream = "^2.1.3"
poetry = "^1.7.1"
py-spy = "^0.3.14"
ruff = "^0.2.1"

[tool.ruff.lint]
select = ["B", "E", "F", "I", "SIM", "UP"]
