[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.poetry]
authors = ["liblaf <i@liblaf.me>"]
description = ""
name = "mesh-kit"
readme = "README.md"
version = "0.0.1"

[tool.poetry.dependencies]
matplotlib = "^3.8.2"
numpy = "^1.26.3"
opencv-python = "^4.9.0.80"
pydantic = "^2.5.3"
python = ">=3.11,<3.12"
pyvista = { extras = ["all"], version = "^0.43.2" }
rich = "^13.7.0"
scipy = "^1.11.4"
tqdm = "^4.66.1"
trimesh = { extras = ["all"], version = "^4.0.10" }
typer = "^0.9.0"
tetgen = "^0.6.3"
pymeshfix = "^0.16.2"
loguru = "^0.7.2"

[tool.poetry.group.dev.dependencies]
icecream = "^2.1.3"
