[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.mypy]
ignore_missing_imports = true

[tool.poetry]
authors = ["liblaf <i@liblaf.me>"]
description = ""
exclude = ["**/*_test.py", "tests"]
license = "MIT"
name = "mesh-kit"
readme = "README.md"
version = "0.0.1"

[tool.poetry.dependencies]
fire = "^0.5.0"
loguru = "^0.7.2"
matplotlib = "^3.8.2"
numpy = "^1.26.4"
pydantic = "^2.6.1"
pymeshfix = "^0.16.2"
python = ">=3.11,<3.13"
pyvista = { extras = ["all"], version = "^0.43.3" }
pyyaml = "^6.0.1"
rich = "^13.7.0"
scipy = "^1.12.0"
tetgen = "^0.6.3"
tqdm = "^4.66.1"
trimesh = { extras = ["all"], version = "^4.1.3" }
typeguard = "^4.1.5"
typer = "^0.9.0"
pyacvd = "^0.2.10"

[tool.poetry.group.dev.dependencies]
icecream = "^2.1.3"
mypy = "^1.8.0"
poetry = "^1.7.1"
poetry-plugin-export = "^1.6.0"
py-spy = "^0.3.14"
pytest = "^8.0.1"
ruff = "^0.2.1"

[tool.poetry.scripts]
mesh-kit = "mesh_kit.cli.main:app"

[tool.ruff.lint]
ignore = [
  "ANN",
  "ARG",
  "COM",
  "D",
  "ERA",
  "FA",
  "FIX",
  "INP",
  "ISC",
  "N",
  "PGH",
  "PLC",
  "PYI",
  "S",
  "T20",
  "TCH",
  "TD",
]
select = [
  "A",
  "AIR",
  "ANN",
  "ARG",
  "ASYNC",
  "B",
  "BLE",
  "C4",
  "C90",
  "COM",
  "CPY",
  "D",
  "DJ",
  "DTZ",
  "E",
  "E",
  "EM",
  "ERA",
  "EXE",
  "F",
  "FA",
  "FBT",
  "FIX",
  "FLY",
  "FURB",
  "G",
  "I",
  "ICN",
  "INP",
  "INT",
  "ISC",
  "LOG",
  "N",
  "NPY",
  "PD",
  "PERF",
  "PGH",
  "PIE",
  "PL",
  "PT",
  "PTH",
  "PYI",
  "Q",
  "RET",
  "RSE",
  "RUF",
  "S",
  "SIM",
  "SLF",
  "SLOT",
  "T10",
  "T20",
  "TCH",
  "TD",
  "TID",
  "TRIO",
  "TRY",
  "UP",
  "W",
  "W",
  "YTT",
]
