[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[project]
authors = [
  { email = "30631553+liblaf@users.noreply.github.com", name = "liblaf" },
]
dependencies = [
  "loguru",
  "meshio",
  "meshtaichi-patcher",
  "open3d",
  "pydantic",
  "pymeshfix",
  "pyvista",
  "taichi",
  "trimesh[all]",
  "typeguard",
  "typer",
]
description = "Add a short description here"
name = "mesh-kit"
requires-python = ">= 3.11"
version = "0.0.1"

[project.optional-dependencies]
dev = ["icecream", "pyright"]
docs = [
  "mkdocs",
  "mkdocs-gen-files",
  "mkdocs-git-authors-plugin",
  "mkdocs-git-committers-plugin-2",
  "mkdocs-git-revision-date-localized-plugin",
  "mkdocs-literate-nav",
  "mkdocs-material",
  "mkdocs-section-index",
  "mkdocstrings[python]",
]

[tool.hatch.build.targets.wheel]
packages = ["src/mkit"]

[tool.hatch.metadata]
allow-direct-references = true

[tool.pixi.dependencies]
python = "3.11.*"
pytorch = { channel = "pytorch", version = "2.1.0" }
pytorch3d = { channel = "pytorch3d" }
tetgen = "*"
torchvision = { channel = "pytorch" }

[tool.pixi.environments]
default = ["cuda121", "dev", "docs"]

[tool.pixi.feature.cuda121]
channels = ["nvidia"]

[tool.pixi.feature.cuda121.dependencies]
pytorch-cuda = { channel = "pytorch", version = "12.1" }

[tool.pixi.feature.docs.tasks]
docs = "mkdocs build"
docs-deploy = "mkdocs gh-deploy"
docs-serve = "mkdocs serve"

[tool.pixi.project]
channels = ["anaconda", "conda-forge", "pytorch", "pytorch3d"]
platforms = ["linux-64"]

[tool.pixi.pypi-dependencies]
mesh-kit = { editable = true, path = "." }

[tool.pixi.system-requirements]
libc = "2.39"
linux = "6.5"
