[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[project]
authors = [
  { email = "30631553+liblaf@users.noreply.github.com", name = "liblaf" },
]
dependencies = [
  "loguru",
  "meshio[all]",
  "meshpy",
  "meshtaichi-patcher",
  "numpy",
  "omegaconf",
  "pyvista",
  "rich",
  "sparse",
  "taichi",
  "trimesh[all]",
  "typer", "optimesh>=0.10.4,<0.11", "meshzoo>=0.11.6,<0.12", "meshlib>=2.4.3.170,<3",
]
description = "Add a short description here"
name = "mesh-kit"
requires-python = ">=3.11,<3.12"
version = "0.0.1"

[project.optional-dependencies]
cpu = ["jax"]
cuda12 = ["jax[cuda12]"]
dev = [
  "dvc",
  "dvclive",
  "icecream",
  "marimo",
  "py-spy",
  "pyright",
  "pytest",
  "pytest-benchmark",
  "ruff",
]

[tool.hatch.build.targets.wheel]
packages = ["src/mkit"]

[tool.hatch.metadata]
allow-direct-references = true

[tool.pixi.dependencies]
cyipopt = "*"
pytorch = { channel = "pytorch", version = "2.3.1" }
torchvision = { channel = "pytorch" }

[tool.pixi.environments]
cpu = ["cpu", "dev"]
cuda12 = ["cuda12", "dev"]
default = ["cuda12", "dev"]

[tool.pixi.feature.cpu.dependencies]
cpuonly = { channel = "pytorch" }

[tool.pixi.feature.cuda12]
channels = ["nvidia"]

[tool.pixi.feature.cuda12.dependencies]
pytorch-cuda = { channel = "pytorch", version = "12.1" }
pytorch3d = { channel = "pytorch3d", version = "0.7.7" }

[tool.pixi.project]
channel-priority = "disabled"
channels = ["conda-forge", "pytorch", "pytorch3d"]
platforms = ["linux-64"]

[tool.pixi.pypi-dependencies]
mesh-kit = { editable = true, path = "." }

[tool.pixi.system-requirements]
libc = "2.35"
linux = "6.5"

[tool.pixi.tasks]
test = "pytest"
