certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
contourpy==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
fonttools==4.44.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.4 ; python_version >= "3.10" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.8.1 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
nptyping==2.5.0 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.1 ; python_version >= "3.10" and python_version < "3.13"
opencv-python==4.8.1.78 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pillow==10.1.0 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==3.11.0 ; python_version >= "3.10" and python_version < "3.13"
pooch==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.13"
pynrrd==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
pyvista[all]==0.42.3 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
rich==13.6.0 ; python_version >= "3.10" and python_version < "3.13"
scipy==1.11.3 ; python_version >= "3.10" and python_version < "3.13"
scooby==0.9.2 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.13"
trimesh[all]==4.0.3 ; python_version >= "3.10" and python_version < "3.13"
typer==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
vtk==9.2.6 ; python_version >= "3.10" and python_version < "3.13"
